{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs">
        {% dump(app.request.get("_route")) %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('event_view', {"id": event.id}) }}">{{ "Detail"|trans([], "event") }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('event_view', {"id": event.id}) }}">{{ "Plan"|trans([], "event") }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('event_view', {"id": event.id}) }}">{{ "Users"|trans([], "event") }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('event_view', {"id": event.id}) }}">{{ "Users"|trans([], "event") }}</a>
        </li>
    </ul>
{% endblock %}