{% extends "base.html.twig" %}

{% block title %}{% endblock %}{#TODO:#}

{% block body %}

    <a href="{{ path('event_create') }}" class="btn btn-lg btn-success">{{ "Create an event"|trans([], "events") }}</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ "Name"|trans([], "events") }}</th>
            <th>{{ "Date"|trans([], "events") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for eventUser in eventUsers %}
            {% set event = eventUser.event %}
            <tr>
                <td><a href="{{ path('event_view', {'id': event.id}) }}">{{ event.name }}</a></td>
                <td>{{ event.date|date("j.n.Y, G:i") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}