{% extends "event/baseEvent.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="card">
        <div class="card-body">
            {{ event.name }}, {{ event.description }}, {{ event.date|date("j.n.Y, G:i") }}
        </div>
    </div>
{% endblock %}