<!DOCTYPE html>
<html lang="cs">{#TODO: Lang#}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage_index') }}">
        WIP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed"
            aria-controls="navbarCollapsed" aria-expanded="false"
            aria-label="{{ "Toggle navigation"|trans([], "layout") }}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ path('event_list') }}" class="nav-link">{{ "Your events"|trans([], "layout") }}</a>
            </li>
        </ul>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ app.user.email }}
                </a>
            </div>
        {% else %}
            <a class="nav-link" href="{{ path('app_login') }}">{{ "Log in"|trans([], "layout") }}</a>
        {% endif %}
    </div>
</nav>
<div class="container">
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% if messages|length == 1 %}
                {{ messages[0] }}
            {% else %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    {% block body %}

    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
